body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(178, 255, 201) 0%, rgb(15, 231, 98) 35%, rgba(0,212,255,1) 100%);
}


.divCSS{
    width: 400px; 
    height: 300px;
    margin: 0 auto;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    
    justify-content: center;
    align-items: center;
    display: block;

    color: white;
}

.divCSS p{
    margin-top: 5px;
    margin-left: 20px;

    width: 200px;
}

.divCSS h1{
    margin: 20px
}

.divCSS input{
    margin: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

#botao{
    border: none;
    outline: none;
    background-color: whitesmoke;
    width: 100px;

}