body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(178, 255, 201) 0%, rgb(15, 231, 98) 35%, rgba(0,212,255,1) 100%);

    margin: 0;
    padding: 0;
}


.divCSS{
    width: 410px; 
    height: 250px;
    margin: 0 auto;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;

    overflow: hidden;

    color: white;
}

#resultado{

}

.divCSS h1{

}

.divCSS input{
    margin: 10px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

#botao{
    border: none;
    outline: none;
    background-color: whitesmoke;
    width: 100px;

}